/*
wp-content/*
wp-content/plugins/*
wp-content/plugins/*/node_modules/
wp-content/themes/*
wp-content/themes/*/node_modules/

!wp-content/
!wp-content/themes/
!wp-content/themes/volve/
!wp-content/plugins/
!wp-content/plugins/volve-plus/

!.gitignore
!.lando.yml
!install-plugins.sh
!plugins.txt
!README.md
!carbon-fields.zip