/*
!wp-content/
!.gitignore
!.lando.yml
!install-plugins.sh
!plugins.txt
!README.md

wp-content/*
!wp-content/themes/
!wp-content/plugins/

wp-content/plugins/*
wp-content/themes/*

!wp-content/themes/volve/
!wp-content/plugins/volve-plus/
