@import "abstracts/abstracts";

// Define breakpoints
$breakpoint-xs: 0;
$breakpoint-sm: rem(576);
$breakpoint-md: rem(768);
$breakpoint-lg: rem(992);
$breakpoint-xl: rem(1200);
$breakpoint-xxl: rem(1441);

body {
  background-color: $v-white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  & > .wp-block-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: rem(80) rem(20);

    @media (min-width: $breakpoint-xl) {
      padding: rem(100) rem(20) rem(180) rem(20);
    }

    &:first-child {
      padding-top: rem(60);

      @media (min-width: $breakpoint-xl) {
        padding-top: rem(180);
      }
    }
  }
}


.header {
  width: 100%;
  height: rem(75);
  max-height: rem(75);
  display: flex;
  align-items: center;
  justify-content: center;

  &__wrapper {
    width: 100%;
    max-width: rem(1920);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: rem(20);
  }

  &__logo {
    width: rem(93);
    height: auto;

    .logo {
      object-fit: cover;
      width: 100%;
    }
  }

  &__nav {
    width: 100%;
    max-width: rem(400);

    &--list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: rem(30);
      width: 100%;
      list-style-type: none;

      &-item {
        a {
          color: $v-gray;
          font-size: rem(35);
          font-weight: 275;
          line-height: rem(42);
        }
      }
    }
  }

  &__content {
    display: none;
    background: $v-gradient;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;

    &.active {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: rem(80);
      padding: 0 rem(40);
    }
  }

  &__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;

    img {
      width: rem(16);
      height: rem(16);
    }
  }

  &__buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: rem(400);
    gap: rem(40);

    &--auth {
      a {
        color: $v-gray;
        font-size: rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    &--demo {
      button {
        width: 222px;
        height: 48px;
        flex-shrink: 0;
        background: $v-general;
        border: 0;
        border-radius: rem(40);
        color: $v-white;
        text-align: center;
        font-size: rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
  }
}

.home {
  &__wrapper {
    width: 100%;
    max-width: rem(1420) !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(60);

    @media (min-width: $breakpoint-lg) {
      flex-direction: row;
      gap: rem(20);
    }
  }

  &__main--content {
    width: 100%;
    max-width: rem(595);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);

    @media (min-width: $breakpoint-lg) {
      max-width: rem(650);
    }

    &-title {
      color: $v-white;
      font-size: rem(35);
      line-height: rem(42);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(65);
        line-height: rem(72);
      }
    }

    &-description {
      color: $v-white;
      font-size: rem(16);
      line-height: rem(23);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(20);
        line-height: rem(27);
        max-width: rem(595);
        text-align: start;
      }
    }

    &-buttons {
      width: 100%;
      max-width: rem(320);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(30);

      button {
        width: 100%;
        height: rem(48);
        background: $v-general;
        border: 0;
        border-radius: rem(40);
        color: $v-white;
        text-align: center;
        font-size: rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      a {
        font-size: rem(18);
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
      }
    }
  }

  &__main--image {
    width: 100%;
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      object-fit: cover;
      transform: translateX(20px);
    }

  }
}

.footer {
  background-color: $v-black;
  margin-top: auto;
  min-width: 300px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__wrapper {
    width: 100%;
    max-width: rem(1241);
    display: flex;
    flex-direction: column;
    padding: 0 rem(20);

    @media (min-width: $breakpoint-xl) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    padding: rem(60) 0;

    @media (min-width: $breakpoint-xl) {
      gap: rem(69);
    }

    &--address {
      p {
        color: $v-white;
        font-size: rem(14);
        font-style: normal;
        font-weight: 300;
        line-height: rem(30);

        @media (min-width: $breakpoint-xl) {
          font-size: rem(16);
        }
      }
    }

    &--contact {
      display: flex;
      flex-direction: column;
      gap: rem(20);

      @media (min-width: $breakpoint-xl) {
        gap: rem(30);
      }

      h4 {
        color: $v-white;
        font-size: rem(16);
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @media (min-width: $breakpoint-xl) {
          font-size: rem(20);
        }
      }

      a {
        color: $v-general-200;

        @media (min-width: $breakpoint-xl) {
          font-size: rem(16);
        }
      }
    }
  }

  &__license {
    width: 100%;
    background-color: $v-white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10);
    padding: rem(10) rem(20);

    &--content {
      display: flex;
      flex-direction: column;
      max-width: rem(1300);
      gap: rem(10);

      p {
        color: $v-gray;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        max-width: 870px;
      }

      @media (min-width: $breakpoint-xl) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;

        p:last-child {
          text-align: right;
        }
      }
    }
  }

  &__logo {
    width: rem(93);
    height: auto;

    .logo {
      object-fit: cover;
      width: 100%;
    }

    @media (min-width: $breakpoint-xl) {
      width: rem(111);
    }
  }

  &__navigation {
    width: 100%;
    display: flex;
    flex-direction: column;

    ul {
      max-height: 0;
      overflow: hidden;
      transition: max-height 1s ease-out;
    }

    @media (min-width: $breakpoint-xl) {
      flex-direction: row;
      justify-content: space-between;
      max-width: rem(801);

      ul {
        max-height: none;
        overflow: visible;
      }
    }

    .nav h4:after {
      content: url("../assets/icons/drop-down-arrow(down).svg");
      width: 25px;
      float: right;
      height: 25px;

      @media (min-width: $breakpoint-xl) {
        display: none;
      }
    }

    .nav.open h4:after {
      content: url("../assets/icons/drop-down-arrow.svg");
      width: 25px;
      height: 25px;

      @media (min-width: $breakpoint-xl) {
        display: none;
      }
    }

    .nav.open ul {
      height: auto;
      max-height: 500px;
      transition: max-height 1s ease-in !important;

      @media (min-width: $breakpoint-xl) {
        max-height: none;
        transition: none;
      }
    }

    &--item {

      ul {
        display: flex;
        flex-direction: column;
        gap: rem(30);

        li {
          a {
            color: $v-white;
            font-size: rem(14);
            font-style: normal;
            font-weight: 300;
            line-height: rem(21);

            @media (min-width: $breakpoint-xl) {
              font-size: rem(16);
            }
          }
        }

        li:last-child {
          margin-bottom: rem(40);
        }

      }

      h4 {
        padding: rem(40) 0 !important;
        border-top: 1px solid $v-border;
        font-size: rem(16);
        color: $v-white;
        font-style: normal;
        font-weight: 300;
        line-height: 21px;
        cursor: pointer;

        @media (min-width: $breakpoint-xl) {
          cursor: default;
          font-size: rem(20);
          font-weight: 400;
          border-top: 0;
        }
      }
    }
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;

    &--wrapper {
      width: 100%;
      max-width: rem(1300);
      display: flex;
      justify-content: center;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.error-404 {
  background: $v-gradient;
  height: 100%;
  min-height: rem(435);
  padding: rem(60) rem(20) rem(80) rem(20);
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $breakpoint-xl) {
    padding: rem(180) rem(20) rem(180) rem(20);
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);

    @media (min-width: $breakpoint-xl) {
      gap: rem(60);
    }

    img {
      object-fit: contain;
      width: rem(164);

      @media (min-width: $breakpoint-xl) {
        width: rem(230);
      }
    }

    h1 {
      color: $v-white;
      font-size: rem(35);
      font-style: normal;
      font-weight: 300;
      line-height: rem(42);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(65);
        font-weight: 275;
        line-height: rem(72);
      }
    }

    button {
      width: rem(320);
      height: rem(48);
      background: $v-general;
      border: 0;
      border-radius: rem(40);
      color: $v-white;
      text-align: center;
      font-size: rem(18);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: $breakpoint-xl) {
        width: rem(230);
        height: rem(54);
        font-size: rem(20);
      }
    }
  }
}

.trial {
  width: 100%;
  padding: rem(0) rem(20) rem(0) rem(20);
  margin-bottom: rem(80);
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-xl) {
    margin-bottom: rem(180);
  }

  &__wrapper {
    padding-top: rem(60);
    padding-bottom: rem(60);
    border-top: 1px solid $v-border;
    border-bottom: 1px solid $v-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);
    width: 100%;
    max-width: rem(1420);

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    button {

      max-width: rem(320);
      width: 100%;
      height: rem(48);
      background: $v-general;
      border: 0;
      border-radius: rem(40);
      color: $v-white;
      text-align: center;
      font-size: rem(18);
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      @media (min-width: $breakpoint-xl) {
        max-width: rem(230);
        height: rem(54);
        font-size: rem(20);
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    h4 {
      font-size: rem(20);
      font-style: normal;
      font-weight: 300;
      line-height: rem(27);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(30);
        font-weight: 275;
        line-height: rem(37);
      }
    }

    p {
      font-size: rem(16);
      font-style: normal;
      font-weight: 275;
      line-height: rem(23);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(20);
      }
    }

    @media (min-width: $breakpoint-xl) {
      gap: rem(30);
    }
  }
}

.trial-banner {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 100%;
    max-width: rem(1420);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);

    @media (min-width: $breakpoint-xl) {
      gap: rem(60);
    }
  }

  &__title {
    color: $v-white;
    font-size: rem(30);
    font-weight: 275;
    line-height: rem(37);

    @media (min-width: $breakpoint-xl) {
      font-size: rem(60);
      line-height: rem(67);
    }
  }

  &__main {
    width: 100%;
    padding: rem(30) rem(20) rem(60) rem(20);
    background-color: $v-white;
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @media (min-width: $breakpoint-md) {
      padding: rem(60) rem(120);
    }


    &--title {
      font-size: rem(20);
      font-weight: 300;
      line-height: rem(27);
      max-width: rem(514);

    }

    &--image {

      &:first-child {
        display: none;
      }

      img {
        width: 100%;
      }

      @media (min-width: $breakpoint-md) {
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      gap: rem(30);
      max-width: rem(514);

      li {
        font-size: rem(14);
        font-weight: 300;
        line-height: rem(21);

        &::before {
          content: url("../assets/icons/select.png");
          margin-right: rem(15);
          height: rem(10);
        }
      }
    }

    &--button {
      width: 100%;
      max-width: rem(320);
      height: rem(54);
      background: $v-general;
      border: 0;
      border-radius: rem(40);
      color: $v-white;
      text-align: center;
      font-size: rem(18);
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      @media (min-width: $breakpoint-xl) {
        max-width: rem(230);
        height: rem(54);
        font-size: rem(20);
      }
    }
  }
}

.experience {
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: rem(30);
    width: 100%;
    max-width: rem(1420);


    @media (min-width: 655px) {
      align-items: center;
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @media (min-width: 655px) {
      align-items: center;
    }

    p {
      color: $v-white;
      font-size: rem(20);
      font-style: normal;
      font-weight: 275;
      line-height: rem(27);

      @media (min-width: 655px) {
        font-size: rem(25);
      }

      @media (min-width: $breakpoint-xl) {
        font-size: rem(30);
        line-height: rem(37);
      }
    }

    h2 {
      color: $v-white;
      font-size: rem(30);
      font-style: normal;
      font-weight: 275;
      line-height: rem(37);

      @media (min-width: 655px) {
        font-size: rem(45);
      }

      @media (min-width: $breakpoint-xl) {
        font-size: rem(60);
        line-height: rem(67);
      }
    }
  }

  &__swiper {
    position: relative;
    width: 100%;
    background-color: $v-white;
    max-width: rem(1420);

    @media (min-width: 655px) {
      max-height: rem(810);
    }

    &--slide {
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: rem(87);

      @media (min-width: 655px) {
        flex-direction: row;
        align-items: center;
        gap: rem(0);
        justify-content: start;
      }

      @media (min-width: $breakpoint-xl) {
        font-size: rem(60);
        line-height: rem(67);
        gap: rem(96);
      }

      &-image {
        width: 100%;
        padding-top: rem(33);
        display: flex;
        justify-content: start;
        max-width: rem(556);

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      &-description {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem(20);
        padding: rem(0) rem(20) rem(60) rem(20);

        @media (min-width: 655px) {
          align-items: flex-start;
          gap: rem(30);
          max-width: rem(360);
          padding: 0;
          margin-right: rem(100);
        }

        h3 {
          font-size: rem(30);
          font-weight: 275;
          line-height: rem(37);
          text-align: center;
          max-width: rem(260);

          @media (min-width: 655px) {
            font-size: rem(45);
            text-align: left;
            max-width: rem(304);

          }

          @media (min-width: $breakpoint-xl) {
            font-size: rem(60);
            line-height: rem(67);
          }
        }

        p {
          font-size: rem(16);
          font-weight: 275;
          line-height: rem(23);
          text-align: center;
          max-width: rem(260);

          @media (min-width: 655px) {
            font-size: rem(18);
            text-align: left;
            max-width: rem(304);
          }

          @media (min-width: $breakpoint-xl) {
            font-size: rem(20);
            line-height: rem(27);
          }
        }

        button {
          margin-top: rem(10);
          width: rem(280);
          height: rem(48);
          background: $v-general;
          border: 0;
          border-radius: rem(40);
          color: $v-white;
          text-align: center;
          font-size: rem(18);
          font-style: normal;
          font-weight: 300;
          line-height: normal;

          @media (min-width: 655px) {
            width: rem(230);
            height: rem(48);
            font-size: rem(18);
          }

          @media (min-width: $breakpoint-xl) {
            width: rem(230);
            height: rem(54);
            font-size: rem(20);
          }
        }
      }
    }

    &--buttons {
      position: absolute;
      display: flex;
      gap: rem(20);
      bottom: rem(275);
      right: 50%;
      transform: translate(50%, -50%);
      z-index: 10;

      @media (min-width: 655px) {
        right: 0;
        bottom: 50%;
        transform: rotate(90deg) translateX(28%);
      }
    }
  }
}

.related {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__title {
    font-size: rem(30);
    font-weight: 275;
    line-height: rem(37);

    @media (min-width: $breakpoint-xl) {
      font-size: rem(60);
      line-height: rem(67);
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: rem(30);
    width: 100%;
    max-width: rem(1420) !important;

    @media (min-width: $breakpoint-md) {
      align-items: center;
      gap: rem(60);
    }
  }

  &__slider {
    width: 100%;
    height: 100%;
  }

  &__slide {
    display: flex !important;
    flex-direction: column;
    gap: rem(30);

    &--image {
      width: 100%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }

    &--text-content {
      display: flex;
      flex-direction: column;
      gap: rem(20);

      a {
        font-size: rem(18);
        font-weight: 300;

        @media (min-width: $breakpoint-xl) {
          font-size: rem(20);
        }
      }

      &-category {
        font-size: rem(16);

        @media (min-width: $breakpoint-xl) {
          font-size: rem(20);
        }
      }

      &-title {
        font-size: rem(20);

        @media (min-width: $breakpoint-xl) {
          font-size: rem(30);
        }
      }

      &-description {
        font-size: rem(14);

        @media (min-width: $breakpoint-xl) {
          font-size: rem(16);
        }
      }
    }

    &--buttons {
      position: relative;
      margin-top: rem(30);
      display: flex;
      gap: rem(20);
    }
  }
}

.cross-functional {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 100%;
    max-width: rem(1420);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);

    @media (min-width: $breakpoint-xl) {
      gap: rem(60);
    }
  }

  &__title {
    color: $v-white;
    font-size: rem(35);

    @media (min-width: $breakpoint-xl) {
      font-size: rem(65);
    }
  }

  &__content {
    width: 100%;

    &--element {
      display: flex;
      color: $v-white;
      flex-direction: column;
      gap: rem(30);


      @media (min-width: $breakpoint-md) {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
      }

    }

    &--image {

      img {
        width: 100%;
        object-fit: cover;
        max-height: rem(600);
      }
    }

    &--text {
      width: 100%;
      max-width: rem(609);
      display: flex;
      flex-direction: column;
      gap: rem(30);

      h2 {
        font-size: rem(30);
        font-weight: 275;
        line-height: rem(37);

        @media (min-width: $breakpoint-xl) {
          font-size: rem(60);
          line-height: rem(67);
        }
      }

      &-container {
        display: flex;
        flex-direction: column;
        gap: rem(30);

        @media (min-width: $breakpoint-xl) {
          gap: rem(40);
        }
      }

      &-step {
        display: flex;
        flex-direction: column;
        gap: rem(20);

        h3 {
          font-size: rem(20);
          font-weight: 300;
          line-height: rem(27);

          @media (min-width: $breakpoint-xl) {
            font-size: rem(30);
            line-height: rem(37);
          }
        }

        p {
          font-size: rem(14);
          font-weight: 300;
          line-height: rem(21);

          @media (min-width: $breakpoint-xl) {
            font-size: rem(16);
            line-height: rem(23);
          }
        }
      }
    }

    &--button {
      width: 100%;
      max-width: rem(320);
      height: rem(48);
      background: $v-general;
      color: $v-white;
      border: 0;
      border-radius: rem(40);
      font-size: rem(18);
      font-weight: 400;

      @media (min-width: $breakpoint-xl) {
        max-width: rem(230);
        height: rem(54);
        font-size: rem(20);
      }
    }
  }
}

.faq {
  width: 100%;
  display: flex;
  justify-content: center;

  &__wrapper {
    width: 100%;
    max-width: rem(1420);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);

    @media (min-width: $breakpoint-xl) {
      gap: rem(60);
      margin-bottom: rem(100);
    }
  }

  &__title {
    color: $v-white;
    font-size: rem(35);
    font-weight: 275;
    line-height: rem(42);
    text-align: center;

    @media (min-width: $breakpoint-xl) {
      font-size: rem(65);
      line-height: rem(72);
    }
  }

  &__content {
    width: 100%;

    &--element {
      display: flex;
      flex-direction: column;
      gap: rem(20);

      @media (min-width: $breakpoint-xl) {
        gap: rem(30);
      }
    }

    &--text {
      display: flex;
      flex-direction: column;
      gap: rem(24);

      &.open p {
        display: block;
        height: auto;
        max-height: 500px;
        transition: max-height 1s ease-in !important;
      }

      &.open h5::after {
        content: url("../assets/icons/elipse_minus.png ");
        width: 55px;
        height: 55px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $v-border;
        padding-bottom: rem(20);

        @media (min-width: $breakpoint-xl) {
          padding-bottom: rem(30);
        }

        p {
          margin-bottom: rem(16);

          @media (min-width: $breakpoint-xl) {
            margin-bottom: rem(14);
          }
        }
      }

      @media (min-width: $breakpoint-xl) {
        gap: rem(30);
      }

      h5 {
        color: $v-white;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(23);
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        &::after {
          content: url("../assets/icons/elipse_plus.png ");
          width: 55px;
          height: 55px;
        }

        @media (min-width: $breakpoint-xl) {
          font-size: rem(20);
          line-height: rem(27);
        }
      }

      p {
        color: $v-white;
        font-size: rem(14);
        font-weight: 300;
        line-height: rem(21);
        display: none;


        @media (min-width: $breakpoint-xl) {
          font-size: rem(16);
          line-height: rem(23);
        }
      }
    }
  }

}

.tab {
  &__dropdown {
    width: 100%;
    max-width: rem(320);

    @media (min-width: $breakpoint-xxl) {
      max-width: none;
    }

    .select {
      position: relative;
      border-bottom: 1px solid $v-white;
      font-size: rem(18);
      font-weight: 400;
      color: $v-white;
      padding-bottom: rem(12);
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @media (min-width: $breakpoint-xxl) {
        display: none;

      }
    }

    .caret {
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid $v-white;
      transition: 0.3s;

      &-rotate {
        transform: rotate(180deg);
      }
    }

    &--menu {
      margin-top: rem(5);
      width: 100%;
      max-width: rem(320);
      background: $v-white;
      position: absolute;
      opacity: 0;
      display: none;
      transition: 0.2s;
      z-index: 1;
      border: 1px solid $v-general;

      @media (min-width: $breakpoint-xxl) {
        max-width: none;
        color: $v-gray;
        display: flex;
        justify-content: center;
        gap: rem(43);
        opacity: 1;
        background: none;
        position: relative;
        border: 0;
      }

      li {
        cursor: pointer;
        font-size: rem(18);
        font-weight: 400;
        padding: rem(13) rem(20) rem(12) rem(20);
        white-space: nowrap;

        @media (min-width: $breakpoint-xxl) {
          padding: rem(0) rem(10) rem(2) rem(8);
        }

        @media (min-width: $breakpoint-xl) {
          font-size: rem(20);
        }

        &:hover {
          background: $v-general;
          color: $v-white;

          @media (min-width: $breakpoint-xxl) {
            background: none;
            color: $v-general;
          }
        }

      }

      .active {
        background: $v-general;
        color: $v-white;

        @media (min-width: $breakpoint-xxl) {
          background: none;
          color: $v-general;
          border-bottom: 1px solid $v-general;
        }
      }

      &-open {
        display: block;
        opacity: 1;
      }
    }
  }

  &__content {
    display: none;

    &.active {
      display: flex;
    }
  }
}

.separator {
  width: 100%;
  border-top: 1px solid $v-border;
  max-width: rem(1420) !important;
  margin: rem(80) 0;

  @media (min-width: $breakpoint-xl) {
    margin: rem(150) 0;
  }
}