$v-white: #FFFFFF;
$v-general: #24DAC4;
$v-general-100: #1EB3A1;
$v-general-200: #23C7B3;
$v-gray: #9A9A9A;
$v-gray-100: #EDEFF1;
$v-main: #313131;
$v-black: #232323;
$v-gradient: linear-gradient(315deg, #232323 0%, #363842 100%);
$v-border: rgba(154, 154, 154, 0.4);