@import "../abstracts/abstracts";

.author-block {
  display: flex;
  flex-direction: row;
  gap: rem(10);
  margin-top: auto;

  &__avatar {
    width: rem(40);
    height: rem(40);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__name {
    display: flex;
    flex-direction: column;

    a {
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(21);
    }

    p {
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(21);
      color: $v-gray-200;
    }
  }
}
