@import "../abstracts/abstracts";

.blog-header {
  width: 100%;
  max-width: rem(1410);
  display: none;


  @media (min-width: $breakpoint-lg) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: rem(1410);
  }

  &__list {
    display: flex;
    flex-direction: row;
    gap: rem(30);

    a {
      font-size: rem(14);
      font-weight: 400;
      line-height: rem(21);
      color: $v-black-100;
      text-decoration: none;

      &:hover {
        color: $v-general;
      }
    }
  }
}