@import "../abstracts/abstracts";

.post {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: rem(40) rem(16) rem(80) rem(16);

  @media (min-width: $breakpoint-xl) {
    padding: rem(115) rem(20) rem(160) rem(20);
  }

  &__wrapper {
    width: 100%;
    max-width: rem(1170);
    display: flex;
    flex-direction: column;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: rem(20);
    align-items: center;

    @media (min-width: $breakpoint-md) {
      margin-top: rem(21);
    }

    &--date, &--author {
      color: $v-gray-200;
      font-size: rem(14);
      font-weight: 300;
      line-height: rem(24);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(16);
        line-height: rem(28);
      }
    }

    h1 {
      text-align: center;
      font-size: rem(35);
      font-weight: 300;
      line-height: rem(49);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(60);
        line-height: rem(84);
      }
    }

    &--tags {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: rem(10);
      max-width: rem(328);

      li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        gap: rem(5);
        border-radius: rem(30);
        background-color: $v-gray-100;
        padding: rem(5) rem(13);

        .circle {
          display: inline-block;
          width: 6px;
          height: 6px;
          border-radius: 50%;
          background-color: $v-general;

        }
      }
    }
  }

  &__content {
    margin-top: rem(60);
    display: flex;
    flex-direction: column;

    p {
      &:not(:last-child) {
        margin-bottom: rem(24);
      }

      line-height: rem(24);
    }

    ul {
      margin-bottom: rem(24);
    }

    .wp-block-group {

      h2, h3, h4, h5, h6, p, ul, ol {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }

      h2 {
        font-size: rem(30);
        font-weight: 300;
        line-height: rem(45);

        @media (min-width: $breakpoint-xl) {
          font-size: rem(50);
          line-height: rem(70);
        }

      }

      ul {
        li::before {
          content: "•";
          margin-right: rem(5);
          font-size: rem(14);
        }

      }

      &:first-child p {
        &:first-child {
          &:first-letter {
            font-size: rem(85);
            line-height: 0.6;
            float: left;
            margin: rem(15) rem(8) 0 rem(-8);
          }
        }
      }

      &:not(:last-child) {
        margin-bottom: rem(60);
      }

      display: flex;
      flex-direction: column;

    }

    .is-nowrap {
      margin-top: rem(30);
      @media (min-width: $breakpoint-lg) {
        flex-direction: row;
        justify-content: space-between;
        gap: rem(30);
      }

      .wp-block-image {
        width: 100%;
        display: flex;
        justify-content: center;
      }

      div {
        display: block;
        width: 100%;

        @media (min-width: $breakpoint-lg) {
          display: flex;
        }
      }
    }
  }

  &__linkedin {
    max-width: rem(178);
    margin-bottom: rem(60);

    @media (min-width: $breakpoint-lg) {
      margin-bottom: rem(120);
    }
  }

  &__author {
    display: grid;
    grid-template-columns: rem(80) 1fr;
    grid-template-areas:
        "avatar name"
        "description description";
    row-gap: rem(15);
    column-gap: rem(20);

    @media (min-width: $breakpoint-xl) {
      grid-template-columns: rem(90) 1fr;
      grid-template-areas:
          "avatar name"
          "avatar description";
      row-gap: rem(10);
      column-gap: rem(20);
    }

    &--avatar {
      grid-area: avatar;
      width: rem(70);
      height: rem(70);
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @media (min-width: $breakpoint-xl) {
        width: rem(90);
        height: rem(90);
      }
    }

    &--name {
      grid-area: name;
      display: flex;
      flex-direction: column;

      h5 {
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(28);
        color: $v-general;
      }

      span {
        margin-top: -4px;
        font-size: rem(16);
        font-weight: 300;
        line-height: rem(28);
        color: $v-gray-300;
      }
    }

    &--description {
      grid-area: description;
      font-size: rem(16);
      font-weight: 300;
      line-height: rem(28);
      color: $v-gray-300;
      max-width: rem(1060);
    }
  }

  &-slider {
    width: 100%;
    margin-bottom: rem(80);
    display: flex;
    flex-direction: column;
    gap: rem(10);


    &__slider {
      width: 100%;
      height: 100%;
    }

    &__slide {
      display: flex;
      flex-direction: column;
      gap: rem(10);

      &--image {
        width: 100%;
        max-height: rem(640);

        img {
          width: 100%;
          object-fit: cover;

          @media (min-width: $breakpoint-xl) {
          border-radius: rem(6);
          }
        }
      }

      &--description {
        font-size: rem(12);
        font-weight: 400;
        line-height: rem(22);
      }

      &--buttons {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: rem(10);
        justify-content: flex-end;

        &-prev, &-next {
          width: rem(40);
          height: rem(40);

          @media (min-width: $breakpoint-xl) {
            width: rem(55);
            height: rem(55);
          }
        }
      }
    }
  }
}
