@import "../abstracts/abstracts";

.trial {
  padding: rem(0) rem(20) rem(0) rem(20);
  margin-bottom: rem(80);
  display: flex;
  justify-content: center;

  @media (min-width: $breakpoint-xl) {
    margin-bottom: rem(180);
  }

  &__wrapper {
    padding-top: rem(60);
    padding-bottom: rem(60);
    border-top: 1px solid $v-border;
    border-bottom: 1px solid $v-border;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(30);
    width: 100%;
    max-width: rem(1420);

    @media (min-width: $breakpoint-md) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    button {

      max-width: rem(320);
      width: 100%;
      height: rem(48);
      background: $v-general;
      border: 0;
      border-radius: rem(40);
      color: $v-white;
      text-align: center;
      font-size: rem(18);
      font-style: normal;
      font-weight: 300;
      line-height: normal;

      @media (min-width: $breakpoint-xl) {
        max-width: rem(230);
        height: rem(54);
        font-size: rem(20);
      }
    }
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: rem(20);

    h4 {
      font-size: rem(20);
      font-style: normal;
      font-weight: 300;
      line-height: rem(27);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(30);
        font-weight: 275;
        line-height: rem(37);
      }
    }

    p {
      font-size: rem(16);
      font-style: normal;
      font-weight: 275;
      line-height: rem(23);

      @media (min-width: $breakpoint-xl) {
        font-size: rem(20);
      }
    }

    @media (min-width: $breakpoint-xl) {
      gap: rem(30);
    }
  }
}